* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

.boxShadow {
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  margin-top: 10px;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-size: 28px;
  padding: 10px;
  cursor: pointer;
}

.botoesMenu {
  margin-left: 20px;
  border: none;
  background-color: #fff;
  color: #333333;
  font-size: 16px;
  cursor: pointer;
}
.botoesMenu:hover {
  text-decoration: underline;
}

.produtosCards {
  margin-top: 30px;
  width: 70%;
  margin-bottom: 10%;
}
.listaProdutos {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}
.produtos {
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border: 2px #f5f5f5 solid;
  margin-top: 20px;
  margin-right: 10px;
}
.produtos:hover {
  border: 2px #2e245e solid;
}
.imgCard {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40%;
  background-color: #f5f5f5;
  cursor: pointer;
}

.produtos h3 {
  margin-left: 10px;
  font-size: 20px;
  cursor: pointer;
}
.produtos p {
  margin-left: 10px;
  font-size: 16px;
  width: 90%;
}
.tag {
  margin-left: 10px;
  font-size: 10px;
  background-color: #2e245e;
  color: #fff;
  padding: 5px;
  border: none;
}
.preco {
  margin-left: 10px;
  font-size: 16px;
  margin-top: 5px;
  color: #2e245e;
}
.adcpreco {
  margin-left: 10px;
  font-size: 16px;
  border: none;
  background-color: #fff;
  margin-bottom: 10px;
  cursor: pointer;
}
.adcpreco:hover {
  color: #2e245e;
  text-decoration: underline;
}

.layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.lateral {
  margin-top: 50px;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.pesquisarProduto {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.pesquisarProduto input {
  width: 27vh;
  height: 5vh;
  background-color: #f5f5f5;
  border: none;
  padding: 10px;
}
.btnPesquisar {
  width: 10vh;
  border: none;
  background-color: #2e245e;
  color: #fff;
  cursor: pointer;
}
.btnPesquisar:hover {
  background-color: #37268c;
}

.carrinhoCompras {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 100%;
  background-color: #f5f5f5;
}
.tituloCarrinho {
  text-align: center;
  background-color: #37268c;
  color: #fff;
  width: 100%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.comProduto {
  list-style: none;
  height: 300px;
  overflow-y: scroll;
}

.produtoAside {
  display: flex;
  align-items: center;
  padding: 15px;
}

.produtoAside img {
  background-color: #fff;
  width: 35%;
}

.itensProduto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 35vh;
  height: 8vh;
  margin-left: 15px;
}

.valorAside {
  color: #2e245e;
}

.removerItem {
  border: none;
  background-color: #f5f5f5;
  cursor: pointer;
}
.removerItem:hover {
  text-decoration: underline;
}

.quantidade {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: #333333;
  color: #fff;
}

.total {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: #333333;
  color: #fff;
}

.semProduto {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.semProduto h3 {
  font-size: 20px;
}
.semProduto p {
  padding: 10px;
  font-size: 16px;
}
